rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Fleet Jets Collection
    match /jets/{jetId} {
      allow read, write: if true;
    }

    // Destinations Collection
    match /destinations/{destId} {
      allow read, write: if true;
    }

    // Blogs Collection
    match /blogs/{blogId} {
      allow read, write: if true;
    }

    // Concierge Banner Document
    match /concierge_banner/{id} {
      allow read, write: if true;
    }

    // Concierge Categories Collection
    match /concierge_categories/{id} {
      allow read, write: if true;
    }

    // Quote Requests Collection
    match /quote_requests/{requestId} {
      allow read, write: if true;
    }

    // Concierge Requests Collection
    match /concierge_requests/{requestId} {
      allow read, write: if true;
    }

    // Mobile App Users Collection
    match /users/{userId} {
      allow read, write: if true;
    }

    // Admins Collection
    match /admins/{adminId} {
      allow read, write: if true;
    }

    // Settings Collection
    match /settings/{docId} {
      allow read, write: if true;
    }

    // Home Content Collection
    match /home_content/{docId} {
      allow read, write: if true;
    }

    // Mail Collection
    match /mail/{mailId} {
      allow read, write: if true;
    }
  }
}
